:root {
  transition: all 1s;
}

html {
  min-width: 100vw;
  min-height: 100vh;

}
body {
  min-width: 100vw!important;
  min-height: 100vh!important;
}

#redwood-app {
  min-width: 100vw!important;
  min-height: 100vh!important;
}

a:hover {
  text-decoration: underline;
}

.logo-link:hover {
  text-decoration: none;
}
 .nav-link-active, .nav-link:hover {
  text-decoration: underline;
  font-weight: bold;
  transition: all 0.1s ease-out;
}

.menu-item {
  margin: 0 1rem 0 1rem;
  transition: all 0.1s ease-out;

}
